<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/headerTag') %>
    <title>New Product</title>
    <script src="/js/main.js" defer></script>
</head>
<body>
    <%- include('partials/nav') %>
    <div class="parallax-sm"></div>
    <main class="content-container text-light">
        <div class="row">
            <div class="col text-center">
                <h1>NEW PRODUCT</h1>
                <form action="/products/add-product" method="POST">
                    <input class="m-2" type="text" name="title" placeholder="Title"><br />
                    <input class="m-2" type="number" name="price" placeholder="Price"><br />
                    <input class="m-2" type="number" name="quantity" placeholder="Quantity"><br />
                    <input class="m-2" type="text" name="img" placeholder="Image URL"><br />
                    <textarea class="m-2" name="description" placeholder="Product Description"></textarea><br />
                    <button class="btn btn-lg btn-outline-success" type="submit">Add Product</button>
                </form>
            </div>
        </div>
        
    </main>
    <div class="parallax-sm"></div>
</body>
</html>