<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/headerTag')%>
    <title>Kapz</title>
</head>
<body class='m-0 p-0'>
    <header class="row sticky-top">
        <%- include("partials/nav") %>
    </header>
    <main>
        <div class="parallax">
        </div>

        <section class="row black">
            <h1>
                Kapz Keyboards
            </h1>
        </section>
        <section class='parallax-sm'>

        </section>
        <section class="black">
            <div class="row">
                <div class="col-md-3">
                    
                </div>
            </div>
        </section>
        
    </main>
</body>
</html>