<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/headerTag')%>
    <title>Kapz</title>
</head>
<body class='m-0 p-0'>
    <header class="row sticky-top">
        <%- include("partials/nav") %>
    </header>
    <main>
        <div class="parallax-sm">
        </div>

        <section class="row black">
            <div class="col">
                <h1 id='main-title'>Kapz Keyboards</h1>
            </div>
        </section>
        <section class='parallax'>

        </section>
        <section class="white text-center">
            <div class="row">      
                    <a href="/products"><h1>Shop Kapz Now</h1></a>
            </div>
        </section>
        
    </main>
</body>
</html>