<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/headerTag')%>
    <title>Kapz</title>
</head>
<body class='m-0 p-0'>
    <header class="row sticky-top">
        <%- include("partials/nav") %>
    </header>
    <main>
        <div class="parallax-sm">
        </div>

        <section class="row black">
            <div class="col">
                <form action="/login/validate" method="POST" class="text-center">
                    <label for="username"class="m-1">Username</label>
                    <input type="email" name="username" required><br>
                    <label for="password">Password</label>
                    <input type="password" name="password" class="m-1"><br>
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button class="btn btn-primary" type="submit">Login</button><br>
                    <a href="/login/newUser">Create Account</a>
                </form>
            </div>
        </section>
        <section class='parallax'></section>
    </main>
</body>
</html>